* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #4d4d4d;
}

.sec1 {
    background-color: #f2f2f2;
    padding: 20px;
}

.sec1 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #4d4d4d;
    text-align: center;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #000000;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #4d4d4d;
}